services:

{% for landing in groups['landings'] %}
  {{ landing }}:
    build: ./landing
{% endfor %}

  safe-landing:
    build: ./safe-landing

  tracker:
    build: ./tracker

  loadbalancer:
    image: nginx:alpine
    volumes:
      - ./lb-nginx.conf:/etc/nginx/nginx.conf

  router:
    image: nginx:alpine
    ports:
      - "{{ router_port }}:80"
    volumes:
      - ./router-nginx.conf:/etc/nginx/nginx.conf

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    command:
      - -nginx.scrape-uri=http://router/nginx_status
    ports:
      - "9113:9113"
    depends_on:
      - router