events {}

http {

  log_format lb_log
  '$hostname | LB-> $upstream_addr | $status';

  access_log /var/log/nginx/lb_access.log lb_log;

  upstream landing_pool {
  {% for landing in groups['landings'] %}
      server {{ landing }}:80;
  {% endfor %}
  }


  server {
      listen 80;

      location / {
          proxy_pass http://landing_pool;
      }
  }
}
