events {}

http {

  log_format tracker_log '$hostname | $remote_addr | $http_user_agent | TRACKER-> $upstream_addr | $status';


  access_log /var/log/nginx/tracker_access.log tracker_log;


  map $http_user_agent $is_bot {
    default 0;
    "~*bot" 1;
    "~*crawler" 1;
    "~*spider" 1;
  }

  upstream main_pool {
    server loadbalancer:80;
  }

  upstream safe_landing {
    server safe-landing:80;
  }

  server {
    listen 80;

    location / {

      if ($is_bot = 1) {
        proxy_pass http://safe_landing;
        break;
      }

      proxy_pass http://main_pool;
    }
  }
}
